aside{
    color: blue;
    padding: 0.1%;    
}
aside h1{
    font-size: 2em;
}

.jumbotron{
    background-color: #c6e872;
    color: ivory;

}
.letraMini{
    font-size: .65em;
}

.border{
    border: solid .05em green;   
    align-items: center;
    justify-content: center;     
}

.left{
    left: 1%;
    float: left;
}

.right{
    float: right;
    right: 1%;
}

.bg-img{
    background-color: #66d37e;
}

article h1{
    padding: 1%;
}
article p{       
    padding: 1%;    
}
article img{
    height: 13em;
    width: 13em;
    position: relative;
    left: 20%;
    top: 5%;
}

.animationfw{    
    animation-name: forwardBGFW;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    
  }
  
  @keyframes forwardBGFW {
    0% {background-color: #66d37e;}
    50% {background-color: #083836;}
    100% {background-color: #66d37e;}
  }
  
  .animationbw{    
    animation-name: backwardBGBW;
    animation-duration: 6s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    
  }
  
  @keyframes backwardBGBW {
    0% {background-color: #083836;}
    50% {background-color: #66d37e;}
    100% {background-color: #083836;}
  }

  video{
     height: 15em;
     width: 15em; 
  }