/*Fuentes*/
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

body{
  background-image: linear-gradient(65deg, #fbffa3, rgb(255, 255, 255));   
}

div{
  font-family: 'Heebo', sans-serif;
}

.footer-bar{
  width: 100%;
  background-size: 100%;
  background-image: linear-gradient(90deg,  #66d37e,#fbffa3);
  font-weight: bold;
  color: ivory;
  position: fixed;    
  bottom: 0;
  opacity: 0.65;
}

.bg-custom{
  background-color : #66d37e;
  font-size: 0.855em;
}

.customTitle{
  align-self: center;
  color: rgba(32, 181, 240, 0.589);
}

.jumbotron-fluid{
  background-color: #c6e872;
  color: ivory;  
}

.top15des{
  position: relative;
  top: 15em; 
}

.jumbotron-fluid h1{
  padding: 1%;
}

.jumbotron-fluid p{
  font-size: 1em;
  padding: 1%;
}

.card btn{
  position: relative;
  justify-content: center;
  align-self: center;
}


@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

/*Modificado de https://github.com/IanLunn/Hover/blob/master/css/hover.css*/
nav a:hover {
  background-color: greenyellow;
  box-shadow: black 1px 5px 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}